body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #C10005);
    color: white;
    text-align: center;
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
}

form {
    background: 
    #2c2c2c;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(11, 2, 2, 0.5);
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    outline: none;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #45a049;
}

a {
    color: #00d0ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#data {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

